.container{
  display: flex;
}
.table{
  width: 23rem !important;
}
.table th{
  color: grey;
}
.uah{
  color: grey;
}
.right{
  margin-left: 3rem;
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
}
.right-title{
  color: grey;
}
.right-currencies{
  display: flex;
  gap: 1rem;
}
.right-currency{
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 0 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}
.right-money{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.input{
  border: 1px solid rgba(128, 128, 128, 0.3);
  height: 2.4rem;
  border-radius: 0.3rem;
}
.output{
  border: 1px solid rgba(128, 128, 128, 0.3);
  height: 2.4rem;
  border-radius: 0.3rem;
  width: 11.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  background-color: rgba(128, 128, 128, 0.2);
}